{{> nav }}
<h2 class="mb-4">Mi Carrito</h2>
{{#each carts}}
<div class="row mb-4">
<div class="col-1"><img src="./img/products/{{url}}" class="img-fluid" alt="..."></div>
<div class="col-5">
<h6><b>Nombre Producto :</b> {{name}}   <b>Precio:</b> {{price}}  <b>Cantidad:</b> {{cantidad}}</h6>
<form action="/carrito?_method=delete" method="post">
    <input type="hidden" name="_id" value={{_id}}>
    <button type="submit">Sacar del carrito</button>
</form>
</div>
</div>
{{/each}}